fieldset,
legend,
button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: none;
	border: none;
	border-radius: 0;
	margin: 0;
	outline: none;
	padding: 0;
}

input[type="date"],
input[type="datetime-local"],
input[type="month"],
input[type="time"] {
	border: 1px solid #ccc;
	font-size: 16px;
	margin: 0;
	outline: none;
	padding: 4px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="url"],
input[type="search"],
input[type="number"],
input[type="datetime"],
input[type="week"],
textarea,
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: none;
	border: 1px solid #ccc;
	border-radius: 0;
	font-size: 16px;
	margin-left: 0;
	margin-right: 0;
	outline: none;
	padding: 4px;
}

textarea {
	height: 100px;
	overflow: auto;
	width: 100%;
}

select {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAALJJREFUeNrslssNgCAQRCmB0ijBEuyEEijBEijBEizBEnAPy0UBWVj8JDvJJB5w3gsXVUoikXwsBrpAPdRCNcOmxi2P2yZ3cIKGU9dOCY0b590pdXhPHOyRyMEDsi4JhVIlSvBYTRGgSNTAQ+pFyyBRC7e5AdchUQt3d1fYIsEGb5Fgh1MktlFwisQwOIeE4/pGuDfhLRLscIrEMHiNxHB4SeIxeMyMPxkenyUSyT9zCDAAj5btZ4c3zaUAAAAASUVORK5CYII=");
	background-position: right 8px center;
	background-repeat: no-repeat;
	background-size: 12px 12px;
	padding-right: 30px;
}

.select {
	background: #fff;
	display: inline-block;
	overflow: hidden;
	position: relative;
}

.select select {
	background: none;
	border: 1px solid #ccc;
	cursor: pointer;
	padding-right: 24px;
	text-overflow: "";
	width: 100%;
}

.select::before {
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #666;
	content: "";
	height: 0;
	padding: 0;
	pointer-events: none;
	position: absolute;
	right: 8px;
	top: 13px;
	width: 0;
}

/* radio & checkbox */

input[type="radio"],
input[type="checkbox"] {
	display: none;
}

input[type="radio"] + span,
input[type="checkbox"] + span {
	color: #555;
	cursor: pointer;
	display: inline-block;
	font-size: 1.4rem;
	line-height: 1;
	margin-left: 8px;
	padding: 10px 20px;
	position: relative;
	text-align: center;
}

input[type="radio"] + span::before,
input[type="checkbox"] + span::before {
	background: #fff;
	border: 1px solid #ccc;
	content: "";
	height: 16px;
	left: -8px;
	margin-top: -8px;
	position: absolute;
	top: 50%;
	width: 16px;
}

/* fieldset */

fieldset {
	border: 1px solid #ccc;
	padding: 8px 16px;
}

legend {
	padding: 0 8px;
}

/* button */

input[type="submit"],
input[type="reset"],
input[type="button"],
button {
	-webkit-box-sizing: content-box;
	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;
	background: #efefef;
	border: 1px solid #999;
	border-radius: 0;
	color: #000;
	cursor: pointer;
	display: inline-block;
	font-size: 20px;
	margin: 0;
	padding: 10px 30px;
}

/* ブラウザ対策
---------------------------------------------------------------------------- */

/* Firefox */

/* IE */

select::-ms-expand {
	display: none;
}

/* webkit */

/* iOS */

input[type="submit"]::-webkit-search-decoration,
input[type=reset]::-webkit-search-decoration,
input[type="button"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-decoration {
	display: none;
}

::-webkit-search-cancel-button {
	-webkit-appearance: none;
}

input[type="search"]::-webkit-search-decoration {
	-moz-appearance: none;
	-webkit-appearance: textfield;
	-webkit-box-sizing: border-box;
	-webkit-appearance: none;
	appearance: none;
	background: none;
	border: 0;
	border-radius: 0;
	font-size: 16px;
	margin: 0;
	outline: none;
	padding: 0;
}

/* 挙動
---------------------------------------------------------------------------- */

/* hover */

input:hover,
textarea:hover,
select:hover {
	border-color: #666;
}

input[type="radio"] + span:hover,
input[type="checkbox"] + span:hover {
	color: #000;
}

input[type="radio"] + span:hover::before,
input[type="checkbox"] + span:hover::before {
	border-color: #000;
}

input[type="radio"] + span:hover::after,
input[type="checkbox"] + span:hover::after {
	background: #ccc;
	content: "";
	height: 8px;
	left: -4px;
	margin-top: -4px;
	position: absolute;
	top: 50%;
	width: 8px;
}

/* checked */

input[type="radio"]:checked + span,
input[type="checkbox"]:checked + span {
	color: #3498db;
}

input[type="radio"]:checked + span::before,
input[type="checkbox"]:checked + span::before {
	border-color: #3498db;
}

input[type="radio"]:checked + span::after,
input[type="checkbox"]:checked + span::after {
	background: #3498db;
	content: "";
	height: 8px;
	left: -4px;
	margin-top: -4px;
	position: absolute;
	top: 50%;
	width: 8px;
}

/* radio */

input[type="radio"] + span::before,
input[type="radio"] + span:hover::after,
input[type="radio"]:checked + span::after {
	border-radius: 50%;
}

/* button */

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
button:hover {
	background: #3498db;
	border-color: #3498db;
	color: #fff;
}

/* focus */

input:focus,
textarea:focus {
	border-color: #3498db;
}

input[type="submit"]:focus,
input[type=reset]:focus,
input[type="button"]:focus,
input[type="search"]:focus {
	outline-offset: -2px;
}

/* disabled */

input:disabled,
input:disabled:hover,
textarea:disabled,
textarea:disabled:hover {
	background: #eee;
	border-color: #ccc;
	cursor: not-allowed;
}

input[type="radio"]:disabled + span,
input[type="checkbox"]:disabled + span {
	color: #ccc;
	cursor: not-allowed;
}

input[type="radio"]:disabled + span::before,
input[type="checkbox"]:disabled + span::before {
	border-color: #ccc;
	cursor: not-allowed;
}

/* バリデーション */

/* placeholder */

.l-header {
	width: 100%;
}

.l-header .container {
	background-color: #FFF;
	box-shadow: 0 3px 6px #00000029;
	display: flex;
	height: 80px;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 99;
}

.l-header .container .logo {
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: center;
	width: 40%;
}

.l-header .container .logo img {
	display: block;
	width: 140px;
}

.catch-copy {
	left: 0%;
	position: absolute;
	text-align: center;
	top: 38%;
	width: 53%;
}

.catch-copy .catch-copy__ja {
	color: #0C2E5A;
	font-family: "Noto Sans JP", sans-serif;
	font-size: 3.9vw;
	line-height: 1.4;
	padding: 33px 9.9vh 30px;
}

.catch-copy .catch-copy__ja .wo {
	font-size: 3.6vw;
}

.catch-copy .catch-copy__ja__back {
	background-color: rgba(255, 230, 33, 0.8);
}

.catch-copy .catch-copy__en {
	color: #0C2E5A;
	font-size: 1.5vw;
	padding: 10px 14.8vw;
}

.main-visual {
	position: relative;
	width: 100%;
}

.main-visual .main-visual__img1,
.main-visual .main-visual__img2 {
	height: calc(100vh - 80px);
	width: 100%;
}

.main-visual .main-visual__img1 {
	-webkit-animation-name: slide;
	-webkit-animation-duration: 4s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-fill-mode: forwards;
	animation-duration: 4s;
	animation-fill-mode: forwards;
	animation-iteration-count: 1;
	animation-name: slide;
	left: 0;
	position: absolute;
	top: 0;
	z-index: 2;
}

.main-visual .main-visual__img2 {
	-o-object-position: left;
	object-position: left;
}

.main-visual img {
	-o-object-fit: cover;
	max-width: 100%;
	object-fit: cover;
	vertical-align: top;
}

/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
	background: transparent;
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}

body {
	line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

nav ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

a {
	background: transparent;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

/* change colours to suit your needs */

ins {
	background-color: #ff9;
	color: #000;
	text-decoration: none;
}

/* change colours to suit your needs */

mark {
	background-color: #ff9;
	color: #000;
	font-style: italic;
	font-weight: bold;
}

del {
	text-decoration: line-through;
}

abbr[title],
dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* change border colour to suit your needs */

hr {
	border: 0;
	border-top: 1px solid #cccccc;
	display: block;
	height: 1px;
	margin: 1em 0;
	padding: 0;
}

input,
select {
	vertical-align: middle;
}

.top-btn {
	align-items: center;
	background: #0c2e5a;
	border-radius: 50%;
	bottom: 20px;
	display: block;
	height: 60px;
	position: fixed;
	right: 20px;
	text-align: center;
	width: 60px;
}

.top {
	padding-top: 80px;
}

@media screen and (max-width: 767px) {

.l-header .container .navbtn {
	background-color: #0C2E5A;
	border: none;
	box-sizing: border-box;
	cursor: pointer;
	display: flex;
	height: 80px;
	justify-content: center;
	margin-left: auto;
	position: relative;
	right: 0;
	width: 50px;
	z-index: 10;
}

.l-header .container .navbtn.active {
	background-color: #FFF;
	position: fixed;
}

.l-header .container .navbtn.active .navbtn_txt_close {
	bottom: 5px;
	color: #0c2e5a;
	font-size: 10px;
	position: absolute;
}

.l-header .container .navbtn.active i {
	background-color: #0C2E5A;
}

.l-header .container .navbtn.active i:nth-child(1) {
	transform: translateY(9px) rotate(-45deg);
}

.l-header .container .navbtn.active i:nth-child(2) {
	opacity: 0;
}

.l-header .container .navbtn.active i:nth-child(3) {
	transform: translateY(-8px) rotate(45deg);
}

.l-header .container .navbtn .navbtn_txt_menu {
	bottom: 5px;
	color: #FFF;
	font-size: 10px;
	position: absolute;
}

.l-header .container .navbtn .navbtn_txt_close {
	color: transparent;
	font-size: 10px;
}

.l-header .container .navbtn i {
	background-color: #FFF;
	display: block;
	height: 3px;
	position: absolute;
	transition: transform 0.5s, opacity 0.5s;
	width: 30px;
}

.l-header .container .navbtn i:nth-child(1) {
	top: 25px;
}

.l-header .container .navbtn i:nth-child(2) {
	bottom: 0;
	margin: auto;
	top: -10px;
}

.l-header .container .navbtn i:nth-child(3) {
	bottom: 35px;
}

}

@-webkit-keyframes slide {

0% {
	opacity: 1;
}

50% {
	opacity: 1;
}

100% {
	opacity: 0;
}

}

@keyframes slide {

0% {
	opacity: 1;
}

50% {
	opacity: 1;
}

100% {
	opacity: 0;
}

}

