.service {
    .title {
        h2 {
            font-size: 45px;
        }
    }
    &__top {
        .intro {
            width: 1000px;
            margin: 0 auto;
            p {
                font-size: 18px;
                line-height: 36px;
            }
        }
        &--item {
            .item__list {
                .item {
                    &--left {
                        .num {
                            font-size: 60px;
                            color: #5081AD;
                        }
                    }
                }
            }
        }
    }
}