._container {
    width: 1080px;
    margin: 0 auto;
    @media screen and (max-width:768px) {
        width: 90%;
    }
}

p {
    font-size: 16px;
}

* {
    box-sizing: border-box;
}

:focus {
    outline: none;
}

._flex {
    display: flex;
}

.sp-block {
    display: none;
    @media screen and (max-width: 768px) {
        display: block;
    }
}

._justify {
    text-align: justify;
}

._center {
    text-align: center;
}

.d-none {
    display: none;
}

@keyframes slide {
    0% {
    opacity: 1;
    }
    50% {
    opacity: 1;
    }
    100% {
    opacity: 0;
    }
}

.main_catch {
    text-align: center;
    width: 53%;
    position: absolute;
    top: 38%;
    left: 0%;
    &.stop {
        position: absolute;
        top: calc(100vh + 280px);
    }
    &.fixed {
        position: fixed;
        top: 34%;
        left: 0;
    }
    &__back {
        background-color: rgba(255, 230, 33, 0.8);
    }
    &__ja {
        font-size: 3.9vw;
        font-family: "Noto Sans JP", sans-serif;
        color: #0c2e5a;
        padding: 33px 9.9vh 30px;
        line-height: 1.4;
        .wo {
            font-size: 3.6vw;
        }
        &__back {
            background-color: rgba(255, 230, 33, 0.8);
        }
    }
    &__en {
        font-size: 1.5vw;
        font-family: "Source Sans Pro", sans-serif;
        color: #0c2e5a;
        padding: 10px 14.8vw;
        &__back {
            background: rgba(255, 255, 255, 0.8);
        }
    }
}

.main_visual {
    position: relative;
    width: 100%;
    img {
        width: 100%;
    }
    &_pc {
        @media screen and (max-width: 768px) {
            display: none;
        }
    }
    &_sp {
        background: #FFF;
        display: none;
        @media screen and (max-width: 768px) {
            display: block;
        }
    }
    &__img1,
    &__img2 {
        width: 100%;
        height: calc(100vh - 80px);
    }
    &__img1,
    &__img1_sp {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        animation-name: slide;
        animation-duration: 4s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
    &__img2 {
        object-position: left;
    }
}

.readmore {
    margin: 100px 0 150px;
    &__btn {
        cursor: pointer;
        text-align: center;
        font-size: 16px;
        width: 200px;
        margin: 0 auto;
        letter-spacing: 0.1em;
        color: #FFF;
        font-weight: bold;
        padding: 20px;
        background: #0c2e5a;
        border: solid 1px #0c2e5a;
        border-radius: 30px;
        &:hover {
            color: #0c2e5a;
            background-color: #FFF;
        }
    }
}

.sec-title {
    text-align: center;
    padding: 120px 0 60px;
    &__en {
        font-size: 45px;
        color: #0c2e5a;
        letter-spacing: 0.2em;
    }
    &__jp {
        color: #6e6e6e;
        letter-spacing: 0.2em;
        padding: 20px 0 10px;
        display: inline-block;
    }
}

.top-about {
    background: rgba(6, 141, 218, 0.05);
    border: solid 1px rgba(6, 141, 218, 0.05);
    padding-bottom: 60px;
    .sec-title {
        &__jp {
            border-bottom: solid 5px #f85245;
        }
    }
    &_us {
        width: 40vw;
        margin: 0 20px 60px 50%;
        line-height: 1.7;
    }
}

.top-article {
    margin-top: 80px;
    background: rgba(6, 141, 218, 0.05);
    border: solid 1px rgba(6, 141, 218, 0.05);
    padding-bottom: 80px;
    .sec-title {
        &__jp {
            border-bottom: solid 5px #2A8DDA;
        }
    }
}

.top-archive {
    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        &-item {
            border: 1px solid #ccc;
            width: calc((100% - 90px) / 3);
            margin-bottom: 30px;
            a {
                width: 100%;
                box-sizing: border-box;
                display: block;
                img {
                    vertical-align: baseline;
                    width: 100%;
                }
            }
        }
    }
}

.top-contact {
    padding-bottom: 60px;
    .sec-title {
        &__jp {
            border-bottom: solid 5px #feb718;
        }
    }
    ._container {
        .top-form {
            margin: 50px auto;
            width: 500px;
        }
    }
}

.top-service {
    padding-bottom: 100px;
    .sec-title {
        &__jp {
            border-bottom: 5px solid #ffe621;
        }
    }
    &_list {
        list-style: none;
        &_item {
            margin-top:400px;
            // opacity: 0;
            transform: translate(0, 150px);
            transition: all 1500ms;
        }
    }
    &__list {
        &_top {
            display: flex;
            margin-bottom: 30px;
        }
        &_p {
            line-height: 1.7;
        }
        &_number {
            font-size: 2vw;
            padding: 16px 10px 10px 0;
            border-right: solid 2px #FFF;
        }
        &_text {
            margin-left: auto;
            color: #fff;
            padding: 40px;
            position: relative;
            background: rgba(12, 46, 90, 0.9);
            width: 50%;
        }
        &_title {
            .service_title {
                &_en {
                    font-size: 1vw;
                }
                &_ja {
                    font-size: 2vw;
                    padding-top: 10px;
                }
            }
        }
        &_web {
            margin-top: 190px;
            .top-service__list_text {
                &::before {
                    content: "";
                    position: absolute;
                    background: rgba(248, 82, 69, 0.1);
                    width: 162%;
                    height: 145%;
                    top: -21%;
                    left: -52%;
                    z-index: -2;
                }
                &::after {
                    content: "";
                    background-image: url("../img/web.png");
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: right;
                    position: absolute;
                    width: 117%;
                    height: 129%;
                    top: -59%;
                    left: -100%;
                    z-index: -1;
                }
            }
        }
        &_media {
            .top-service__list_text {
                &::before {
                    content: "";
                    position: absolute;
                    background: rgba(69, 176, 53, 0.1);
                    width: 162%;
                    height: 145%;
                    top: -21%;
                    left: -52%;
                    z-index: -2;
                }
                &::after {
                    content: "";
                    background-image: url("../img/media.png");
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: right;
                    position: absolute;
                    width: 117%;
                    height: 129%;
                    top: -59%;
                    left: -100%;
                    z-index: -1;
                }
            }
        }
        &_edu {
            margin-bottom: 190px;
            .top-service__list_text {
                &::before {
                    content: "";
                    position: absolute;
                    background: rgba(255, 230, 33, 0.1);
                    width: 162%;
                    height: 145%;
                    top: -21%;
                    left: -52%;
                    z-index: -2;
                }
                &::after {
                    content: "";
                    background-image: url("../img/lgbt.png");
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: right;
                    position: absolute;
                    width: 117%;
                    height: 129%;
                    top: -59%;
                    left: -100%;
                    z-index: -1;
                }
            }
        }
    }
}

.company {
    &_inner {
        justify-content: space-around;
        padding-bottom: 60px;
        table.company_table {
            tbody {
                tr {
                    border-bottom: 2px solid #0c2e5a;
                    td {
                        line-height: 1.4;
                        width: 200px;
                        padding: 10px 0;
                    }
                }
            }
        }
    }
}